<p id="notice"><%= notice %></p>

<h1>Listing Metadata</h1>

<table>
  <thead>
    <tr>
      <th>Titles</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @metadata.each do |metadatum| %>
      <tr>
        <td><%= metadatum.title %></td>
        <td><%= link_to 'Show', metadatum %></td>
        <td><%= link_to 'Edit', edit_metadatum_path(metadatum) %></td>
        <td><%= link_to 'Destroy', metadatum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Metadatum', new_metadatum_path %>
