<p id="notice"><%= notice %></p>

<p>
  <strong>Mets:</strong>
  <%= @metadatum.mets[0..30].gsub(/\s\w+\s*$/,'...') %>
</p>

<p>
  <strong>Manifest:</strong>
  <%= @metadatum.manifest.to_json(pretty: true) %>
</p>

<%= link_to 'Edit', edit_metadatum_path(@metadatum) %> |
<%= link_to 'Back', metadata_path %>
