<%= stylesheet_link_tag "/css/mirador-combined.css" %>
<%= stylesheet_link_tag "/css_local/mirador-local.css" %>
<p id="notice"><%= notice %></p>

<div id="viewer"></div>

<script type="text/javascript">

    $(function() {
      Mirador({
        "id": "viewer",
        "layout": "1x1",
        "data": [
          { "manifestUri": "<%= @metadatum.objid %>.json", "location": "other"}, // Harvard Scroll
          { "manifestUri": "http://oculus-dev.harvardx.harvard.edu/manifests/drs:14033171", "location": "Harvard University"},
          { "manifestUri": "http://manifests.ydc2.yale.edu/manifest/BeineckeMS10", "location": "Yale University"}
        ],
        "logosLocation" : "/images/logos/",
        "i18nPath" : "/locales/",
        "annotationEndpoint" : {
				 "name" : "Simple Annotation Store Endpoint",
				 "module" : "SimpleASEndpoint",
				 "options" : {
					"url": "http://libruby-dev.princeton.edu:8888/annotation",
				  "storeId" : "comparison",
				  "APIKey" : "user_auth"
				 }
		    },
        "windowObjects": [
          {
          //"loadedManifest": "http://oculus-dev.harvardx.harvard.edu/manifests/drs:14033171",
        	"loadedManifest": "<%= @metadatum.objid %>.json",
        	"viewType" : "ImageView",
        	"canvasID": "<%= @metadatum.objid %>/canvas/1",
        	//"bottomPanel" : false,
          "layoutOptions": {
            "close": false,
            "slotRight": false,
            "slotLeft": false,
            "slotAbove": false,
            "slotBelow": false
          }
        	//"availableViews" : ['ThumbnailsView', 'ImageView', 'BookView']
        	//"overlay" : false
          }
        ]
      });
    });
  </script>

<%= javascript_include_tag "/mirador.js" %>
<%= javascript_include_tag "/simpleASEndpoint.js" %>
