<p id="notice"><%= notice %></p>

<h1><%= @metadatum.title %></h1>

<p>
  <strong>Mets:</strong>
  <%= @metadatum.mets[0..30].gsub(/\s\w+\s*$/,'...') %>
</p>

<p>

  <%= link_to "Manifest", {:format => :json } %>
  
</p>

<%= link_to 'Edit', edit_metadatum_path(@metadatum) %> |
<%= link_to 'Back', metadata_path %>
